Client news

Hi $userName,
Our records indicate that you are starting a new engagement with $clientName - congratulations. To help you stay informed, we have automatically signed you up for $clientName news alerts using the Client News app from Digitizing our Firm.
To read up on news related to $clientName over the past few months,
Visit Client News Online $appURL

If you do not wish to receive daily news alert emails, please unsubscribe. $appURL/#/settings
Did you know - you can use the Client News site to:
	Subscribe to and customize news for clients and industries
   	Read high quality news from leading sources (e.g. New York Times), without paywalls
   	Read news across your iPhone, iPad, and laptop
   	Receive regular news updates via morning alert emails
   	Save news items for later and read them even when your on a plane, e.g. offline
    Share news with colleagues via MckTwitter and/or external collaborators via email.

If you experience any issues or to share feedback, please email mailto:Client_News_feedback@mckinsey.com.

Thanks,
The Client News Team

See what other cool Digitizing Our Firm apps and tools http://home.intranet.mckinsey.com/dof/ are available now or in the works.

1 If this is not correct please let us know: mailto:Client_News_feedback@mckinsey.com

You are receiving this email based on news you are subscribed to via the McKinsey &amp; Company Client News application.
If you do not want to receive these emails, or the news shown above is not relevant, please visit the settings page to 
customize your experience. $appURL/#/settings
 